@page "/contacts"
@using BlazingChat.Shared
@using System.Collections.Generic
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="col-12">
    @foreach (var contact in ContactList)
    {
        @* <a @onclick="navigateToChat" class="list-group-item list-group-item-action flex-column align-items-start">
            @contact.FirstName <span> </span>@contact.LastName
            </a> *@
        <a href="/chat/@contact.ContactId"  class="list-group-item list-group-item-action flex-column align-items-start">
        @contact.FirstName <span> </span>@contact.LastName
        </a>
    }
</div>

@code {
    private List<Contact> ContactList { get; set; } = new List<Contact>();

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
          ContactList = await Http.GetFromJsonAsync<List<Contact>>("user");

        //ContactList.Add(new Contact(6, "Charles", "Leclerc"));
        //ContactList.Add(new Contact(55, "Carlos", "Sainz"));
        //ContactList.Add(new Contact(44, "Lewis", "Hamilton"));
        //ContactList.Add(new Contact(77, "Valteri", "Bottas"));
        //ContactList.Add(new Contact(10, "Max", "Verstappen"));
        //ContactList.Add(new Contact(20, "Pierre", "Gasley"));

        Console.WriteLine(ContactList[2].LastName);
    }
    private void navigateToChat()
    {
        NavigationManager.NavigateTo("./chat");
    }
}
