@page "/"
@using BlazingChat.ViewModels

<div class='col-12'>
    <input type='text' class='form-control'placeholder='first name'>
    <br/>
    <input type='text' class='form-control'placeholder='last name'>
    <br/>
    <input type='text' class='form-control'placeholder='email address'>
    <br/>
    <button class='btn btn-primary' @onclick="updateProfile">Update Profile</button>
    <button class='btn btn-primary' @onclick="getProfile">Get Profile</button>
    <span>&nbsp;&nbsp;</span>@_profileViewModel.Message
</div>

@code{
    public long UserId {get;set;}
    public string FirstName {get;set;}
    public string LastName {get;set;}
    public string EmailAddress {get;set;}

    private ProfileViewModel _profileViewModel = new ProfileViewModel()

    private void updateProfile(){
        _profileViewModel.Message="Profile updated successfully";
    }
    private void updateProfile(){
        _profileViewModel.Message="Profile loaded successfully";
    }
}
